/*  TODO: make Total Monthly Cost red bg if over $20,000  */

header {
  background-color: var(--bs-secondary);
  color: var(--bs-gray-100);
  margin-top: 0;
}

#employeeTable td,
#employeeTable th {
  font-size: 1.25rem;
  padding-left: 10px;
  padding-right: 10px;
}

.high-cost {
  background-color: rgb(255, 78, 78);
}
